Repository guardicore/monkey, pull requests merged in 2019-10, with the labels that each got.

#421 [WIP] Basic skeleton for blackbox script
  envs/__init__.py
  envs/monkey_zoo/.gitignore
  envs/monkey_zoo/__init__.py
  envs/monkey_zoo/blackbox/README.md
  envs/monkey_zoo/blackbox/__init__.py
  envs/monkey_zoo/blackbox/analyzers/__init__.py
  envs/monkey_zoo/blackbox/analyzers/analyzer_log.py
  envs/monkey_zoo/blackbox/analyzers/communication_analyzer.py
  envs/monkey_zoo/blackbox/conftest.py
  envs/monkey_zoo/blackbox/island_client/__init__.py
  envs/monkey_zoo/blackbox/island_client/island_config_parser.py
  envs/monkey_zoo/blackbox/island_client/monkey_island_client.py
  envs/monkey_zoo/blackbox/island_client/monkey_island_requests.py
  envs/monkey_zoo/blackbox/island_configs/ELASTIC.conf
  envs/monkey_zoo/blackbox/island_configs/HADOOP.conf
  envs/monkey_zoo/blackbox/island_configs/MSSQL.conf
  envs/monkey_zoo/blackbox/island_configs/SHELLSHOCK.conf
  envs/monkey_zoo/blackbox/island_configs/SMB_MIMIKATZ.conf
  envs/monkey_zoo/blackbox/island_configs/SMB_PTH.conf
  envs/monkey_zoo/blackbox/island_configs/SSH.conf
  envs/monkey_zoo/blackbox/island_configs/STRUTS2.conf
  envs/monkey_zoo/blackbox/island_configs/TUNNELING.conf
  envs/monkey_zoo/blackbox/island_configs/WEBLOGIC.conf
  envs/monkey_zoo/blackbox/island_configs/WMI_MIMIKATZ.conf
  envs/monkey_zoo/blackbox/island_configs/WMI_PTH.conf
  envs/monkey_zoo/blackbox/log_handlers/__init__.py
  envs/monkey_zoo/blackbox/log_handlers/monkey_log.py
  envs/monkey_zoo/blackbox/log_handlers/monkey_log_parser.py
  envs/monkey_zoo/blackbox/log_handlers/monkey_logs_downloader.py
  envs/monkey_zoo/blackbox/log_handlers/test_logs_handler.py
  envs/monkey_zoo/blackbox/pytest.ini
  envs/monkey_zoo/blackbox/requirements.txt
  envs/monkey_zoo/blackbox/test_blackbox.py
  envs/monkey_zoo/blackbox/tests/__init__.py
  envs/monkey_zoo/blackbox/tests/basic_test.py
  envs/monkey_zoo/blackbox/utils/__init__.py
  envs/monkey_zoo/blackbox/utils/gcp_machine_handlers.py
  envs/monkey_zoo/blackbox/utils/json_encoder.py
  envs/monkey_zoo/blackbox/utils/test_timer.py
  envs/monkey_zoo/gcp_keys/.gitignore
  monkey/infection_monkey/build_windows.bat
  monkey/infection_monkey/model/__init__.py
  monkey/monkey_island/cc/app.py
  monkey/monkey_island/cc/resources/test/__init__.py
  monkey/monkey_island/cc/resources/test/log_test.py
  monkey/monkey_island/cc/resources/test/monkey_test.py
Labels: Enhancement, Island, Monkey

#449 442/bugfix/api status queries trigger multiple report generations
  monkey/monkey_island/cc/resources/root.py
  monkey/monkey_island/cc/services/attack/attack_report.py
  monkey/monkey_island/cc/services/reporting/report.py
  monkey/monkey_island/cc/services/reporting/report_generation_synchronisation.py
Labels: Bug, Island

#453 440/bugfix/new user not deleted
  monkey/infection_monkey/post_breach/actions/communicate_as_new_user.py
  monkey/infection_monkey/utils/auto_new_user.py
  monkey/infection_monkey/utils/auto_new_user_factory.py
  monkey/infection_monkey/utils/linux/users.py
  monkey/infection_monkey/utils/new_user_error.py
  monkey/infection_monkey/utils/windows/auto_new_user.py
  monkey/infection_monkey/utils/windows/users.py
Labels: Bug, Monkey

#447 [WIP] 441/bugfix/slow report generation with plenty of machines
  monkey/monkey_island/cc/models/monkey.py
  monkey/monkey_island/cc/models/test_monkey.py
  monkey/monkey_island/cc/services/edge.py
  monkey/monkey_island/cc/services/node.py
  monkey/monkey_island/cc/services/reporting/report.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info.py
  monkey/monkey_island/cc/utils.py
  monkey/monkey_island/requirements.txt
Labels: Bug, Island

#452 Bugfix for 451
  monkey/infection_monkey/network/network_scanner.py
Labels: Bug, Monkey

#461 460/hotfix/exception processing systeminfo telem
  monkey/monkey_island/cc/services/telemetry/processing/system_info.py
Labels: Bug, Island

#464 463/hotfix/exception on aws network error
  monkey/common/cloud/aws_instance.py
  monkey/infection_monkey/system_info/__init__.py
  monkey/monkey_island/cc/environment/aws.py
  monkey/monkey_island/cc/services/remote_run_aws.py
  monkey/monkey_island/cc/services/reporting/aws_exporter.py
  monkey/monkey_island/cc/services/reporting/exporter_init.py
Labels: AWS, Bug, Island, Monkey

#469 393/python 3 ci
  .travis.yml
  README.md
  monkey/common/network/segmentation_utils_test.py
  monkey/monkey_island/cc/models/monkey.py
  monkey/monkey_island/cc/models/test_monkey.py
  monkey/monkey_island/cc/server_config.json
  monkey/monkey_island/cc/services/reporting/test_zero_trust_service.py
  monkey/monkey_island/cc/set_server_config.py
  monkey/monkey_island/requirements.txt
  monkey/pytest.ini
Labels: Enhancement
