Repository guardicore/monkey, pull requests merged in 2019-05, with the labels that each got.

#314 minor fixes, added vim swp files to gitignore
  .gitignore
  monkey/infection_monkey/main.py
  monkey/monkey_island/linux/install_mongo.sh
Labels: enhancement

#277 Added a new exploit
  monkey/infection_monkey/example.conf
  monkey/infection_monkey/exploit/__init__.py
  monkey/infection_monkey/exploit/vsftpd.py
  monkey/monkey_island/cc/services/config_schema.py
  monkey/monkey_island/cc/services/report.py
  monkey/monkey_island/cc/ui/src/components/pages/ReportPage.js
Labels: enhancement, monkey

#285 Attack configuration
  monkey/infection_monkey/config.py
  monkey/infection_monkey/example.conf
  monkey/infection_monkey/monkey.py
  monkey/monkey_island/cc/app.py
  monkey/monkey_island/cc/resources/attack_config.py
  monkey/monkey_island/cc/resources/attack_telem.py
  monkey/monkey_island/cc/resources/root.py
  monkey/monkey_island/cc/services/attack/attack_config.py
  monkey/monkey_island/cc/services/attack/attack_schema.py
  monkey/monkey_island/cc/services/attack/attack_telem.py
  monkey/monkey_island/cc/services/config_schema.py
  monkey/monkey_island/cc/services/database.py
  monkey/monkey_island/cc/ui/package.json
  monkey/monkey_island/cc/ui/src/components/attack/MatrixComponent.js
  monkey/monkey_island/cc/ui/src/components/pages/ConfigurePage.js
  monkey/monkey_island/cc/ui/src/components/ui-components/Checkbox.js
  monkey/monkey_island/cc/ui/src/styles/App.css
  monkey/monkey_island/cc/ui/src/styles/Checkbox.scss
  monkey/monkey_island/cc/ui/src/styles/Tooltip.scss
  monkey/monkey_island/cc/ui/webpack.config.js
Labels: feature, island

#313 [DONE] Feature/210 monkey mia timeout
  monkey/infection_monkey/control.py
  monkey/infection_monkey/dropper.py
  monkey/infection_monkey/main.py
  monkey/monkey_island/cc/auth.py
  monkey/monkey_island/cc/environment/__init__.py
  monkey/monkey_island/cc/environment/environment.py
  monkey/monkey_island/cc/environment/testing.py
  monkey/monkey_island/cc/models/__init__.py
  monkey/monkey_island/cc/models/config.py
  monkey/monkey_island/cc/models/creds.py
  monkey/monkey_island/cc/models/monkey.py
  monkey/monkey_island/cc/models/monkey_ttl.py
  monkey/monkey_island/cc/models/pba_results.py
  monkey/monkey_island/cc/models/test_monkey.py
  monkey/monkey_island/cc/resources/local_run.py
  monkey/monkey_island/cc/resources/monkey.py
  monkey/monkey_island/cc/services/node.py
  monkey/monkey_island/requirements.txt
Labels: feature, island
