Repository guardicore/monkey, pull requests merged in 2019-09, with the labels that each got.

#427 Added aws_instance_id field to monkey model
  monkey/monkey_island/cc/models/monkey.py
Labels: AWS, Bug, DAL, Island

#438 Hashing passwords to make sure we don't log passwords plaintext
  monkey/infection_monkey/exploit/tools/smb_tools.py
  monkey/infection_monkey/exploit/wmiexec.py
  monkey/infection_monkey/monkey.py
Labels: Bug

#444 Hashing lm+ntlm hashes to make sure we don't log them plaintext
  monkey/infection_monkey/exploit/smbexec.py
  monkey/infection_monkey/exploit/tools/smb_tools.py
  monkey/infection_monkey/exploit/wmiexec.py
Labels: Bug

#437 Feature/scan hosts fast [WIP]
  monkey/infection_monkey/config.py
  monkey/infection_monkey/example.conf
  monkey/infection_monkey/main.py
  monkey/infection_monkey/model/victim_host_generator.py
  monkey/infection_monkey/model/victim_host_generator_test.py
  monkey/infection_monkey/network/network_scanner.py
  monkey/monkey_island/cc/services/config_schema.py
Labels: Enhancement, Monkey
