Repository guardicore/monkey, pull requests merged in 2020-02, with the labels that each got.

#544 Change DEB package homepage to be InfectionMonkey
  monkey/monkey_island/deb-package/DEBIAN/control
Labels: Enhancement, Island

#542 Feature/single command for installation
  deployment_scripts/README.md
  deployment_scripts/config
  deployment_scripts/config.ps1
  deployment_scripts/deploy_linux.sh
  deployment_scripts/deploy_windows.ps1
  deployment_scripts/run_script.bat
  monkey/monkey_island/linux/create_certificate.sh
  monkey/monkey_island/linux/install_mongo.sh
Labels: Enhancement

#553 Feature/kali
  monkey/monkey_island/deb-package/DEBIAN/postinst
  monkey/monkey_island/deb-package/DEBIAN_MONGO/postinst
  monkey/monkey_island/linux/install_mongo.sh
Labels: Bug, Enhancement, Island

#545 543/versioning improvements
  monkey/common/BUILD
  monkey/common/version.py
  monkey/infection_monkey/build_linux.sh
  monkey/infection_monkey/build_windows.bat
  monkey/infection_monkey/main.py
  monkey/infection_monkey/monkey.py
  monkey/infection_monkey/monkey.spec
  monkey/infection_monkey/telemetry/state_telem.py
  monkey/monkey_island/cc/environment/__init__.py
  monkey/monkey_island/cc/main.py
  monkey/monkey_island/cc/resources/version_update.py
  monkey/monkey_island/cc/services/telemetry/processing/state.py
  monkey/monkey_island/cc/services/version_update.py
  monkey/monkey_island/monkey_island.spec
Labels: Enhancement, Island, Monkey
