Repository guardicore/monkey, pull requests merged in 2020-01, with the labels that each got.

#524 Bugfix/handle missing curl wget fixes #503
  deployment_scripts/deploy_linux.sh
  monkey/monkey_island/linux/install_mongo.sh
Labels: Beginner friendly, Bug, Island

#532 Update debian installation to use python3
  monkey/monkey_island/deb-package/DEBIAN/control
  monkey/monkey_island/deb-package/DEBIAN/postinst
  monkey/monkey_island/deb-package/DEBIAN_MONGO/postinst
  monkey/monkey_island/linux/install.sh
  monkey/monkey_island/linux/monkey.sh
  monkey/monkey_island/linux/run.sh
Labels: Bug, Island

#512 Added config won't change warning
  monkey/monkey_island/cc/ui/src/components/pages/ConfigurePage.js
Labels: UI

#525 Start over page loading fix
  monkey/monkey_island/cc/ui/src/components/pages/StartOverPage.js
  monkey/monkey_island/cc/ui/src/components/ui-components/StartOverModal.js
  monkey/monkey_island/cc/ui/src/styles/StartOverPage.scss
Labels: UI

#522 Feature/521 environment check
  monkey/common/cloud/all_instances.py
  monkey/common/cloud/aws/__init__.py
  monkey/common/cloud/aws/aws_instance.py
  monkey/common/cloud/aws/aws_service.py
  monkey/common/cloud/aws/aws_service_test.py
  monkey/common/cloud/azure/__init__.py
  monkey/common/cloud/azure/azure_instance.py
  monkey/common/cloud/environment_names.py
  monkey/common/cloud/gcp/__init__.py
  monkey/common/cloud/gcp/gcp_instance.py
  monkey/common/cloud/instance.py
  monkey/common/cmd/aws/aws_cmd_runner.py
  monkey/common/data/system_info_collectors_names.py
  monkey/infection_monkey/config.py
  monkey/infection_monkey/monkey.py
  monkey/infection_monkey/post_breach/post_breach_handler.py
  monkey/infection_monkey/system_info/__init__.py
  monkey/infection_monkey/system_info/aws_collector.py
  monkey/infection_monkey/system_info/collectors/__init__.py
  monkey/infection_monkey/system_info/collectors/aws_collector.py
  monkey/infection_monkey/system_info/collectors/environment_collector.py
  monkey/infection_monkey/system_info/collectors/hostname_collector.py
  monkey/infection_monkey/system_info/collectors/process_list_collector.py
  monkey/infection_monkey/system_info/system_info_collector.py
  monkey/infection_monkey/system_info/system_info_collectors_handler.py
  monkey/monkey_island/cc/environment/aws.py
  monkey/monkey_island/cc/models/monkey.py
  monkey/monkey_island/cc/resources/remote_run.py
  monkey/monkey_island/cc/services/config_schema.py
  monkey/monkey_island/cc/services/remote_run_aws.py
  monkey/monkey_island/cc/services/reporting/aws_exporter.py
  monkey/monkey_island/cc/services/reporting/report.py
  monkey/monkey_island/cc/services/reporting/report_generation_synchronisation.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info_collectors/__init__.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info_collectors/aws.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info_collectors/environment.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info_collectors/hostname.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info_collectors/system_info_telemetry_dispatcher.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info_collectors/test_system_info_telemetry_dispatcher.py
  monkey/monkey_island/cc/services/telemetry/zero_trust_tests/antivirus_existence.py
Labels: Cloud, Island, Monkey

#535 Add pyinstaller hook for systeminfo plugins
  monkey/infection_monkey/pyinstaller_hooks/hook-infection_monkey.system_info.collectors.py
  monkey/infection_monkey/system_info/__init__.py
Labels: Bug, Monkey

#533 Bugfix, installer should go according to Python bitnes
  monkey/infection_monkey/monkey.spec
Labels: Bug, Monkey
