Repository guardicore/monkey, pull requests merged in 2020-03, with the labels that each got.

#559 Hotfix pyinstaller spec file - datas paths
  monkey/infection_monkey/monkey.spec
Labels: Bug, Monkey

#550 Remove `None` values from list of networks to scan
  monkey/common/network/network_range.py
  monkey/monkey_island/cc/services/config.py
Labels: Bug, Island

#573 567/add code coverage
  .travis.yml
  README.md
  monkey/codecov.yml
  monkey/pytest.ini
Labels: QA

#576 Create test_environment.py
  monkey/monkey_island/cc/services/telemetry/processing/system_info_collectors/test_environment.py
Labels: QA

#565 Autoscroll to last line in telemetry console
  monkey/monkey_island/cc/ui/src/components/pages/MapPage.js
  monkey/monkey_island/cc/ui/src/styles/App.css
Labels: UI

#580 Mitre bugfixes
  monkey/monkey_island/cc/services/attack/technique_reports/T1003.py
  monkey/monkey_island/cc/services/attack/technique_reports/T1016.py
  monkey/monkey_island/cc/services/attack/technique_reports/T1082.py
  monkey/monkey_island/cc/ui/src/components/attack/techniques/Helpers.js
  monkey/monkey_island/cc/ui/src/components/attack/techniques/T1003.js
  monkey/monkey_island/cc/ui/src/components/attack/techniques/T1082.js
Labels: Bug, UI

#527 Old machine bootloader
  envs/monkey_zoo/docs/fullDocs.md
  monkey/infection_monkey/requirements.txt
  monkey/infection_monkey/transport/http.py
  monkey/monkey_island/cc/app.py
  monkey/monkey_island/cc/bootloader_server.py
  monkey/monkey_island/cc/main.py
  monkey/monkey_island/cc/resources/bootloader.py
  monkey/monkey_island/cc/resources/bootloader_test.py
  monkey/monkey_island/cc/resources/node_states.py
  monkey/monkey_island/cc/services/bootloader.py
  monkey/monkey_island/cc/services/bootloader_test.py
  monkey/monkey_island/cc/services/edge.py
  monkey/monkey_island/cc/services/node.py
  monkey/monkey_island/cc/services/utils/bootloader_config.py
  monkey/monkey_island/cc/services/utils/node_states.py
  monkey/monkey_island/cc/services/utils/node_states_test.py
  monkey/monkey_island/cc/ui/src/components/map/MapOptions.js
  monkey/monkey_island/cc/ui/src/components/map/preview-pane/InfMapPreviewPane.js
  monkey/monkey_island/cc/ui/src/components/map/preview-pane/PreviewPane.js
  monkey/monkey_island/cc/ui/src/components/map/preview-pane/PthPreviewPane.js
  monkey/monkey_island/cc/ui/src/components/pages/MapPage.js
  monkey/monkey_island/cc/ui/src/components/pages/ReportPage.js
  monkey/monkey_island/cc/ui/src/components/reactive-graph/ReactiveGraph.js
  monkey/monkey_island/cc/ui/src/components/report-components/SecurityReport.js
  monkey/monkey_island/cc/ui/src/images/nodes/island_monkey_linux_starting.png
  monkey/monkey_island/cc/ui/src/images/nodes/island_monkey_windows_starting.png
  monkey/monkey_island/cc/ui/src/images/nodes/monkey_linux_old.png
  monkey/monkey_island/cc/ui/src/images/nodes/monkey_linux_starting.png
  monkey/monkey_island/cc/ui/src/images/nodes/monkey_windows_old.png
  monkey/monkey_island/cc/ui/src/images/nodes/monkey_windows_starting.png
  monkey/monkey_island/cc/utils.py
Labels: Feature, Monkey

#507 OS compatibility environment
  envs/monkey_maker/README.md
  envs/monkey_maker/aws_keys/.gitignore
  envs/monkey_maker/terraform/config.tf
  envs/monkey_maker/terraform/infra.tf
  envs/monkey_maker/terraform/instances.tf
  envs/os_compatibility/README.md
  envs/os_compatibility/aws_keys/.gitignore
  envs/os_compatibility/conftest.py
  envs/os_compatibility/terraform/config.tf
  envs/os_compatibility/terraform/infra.tf
  envs/os_compatibility/terraform/instance_template/main.tf
  envs/os_compatibility/terraform/instance_template/variables.tf
  envs/os_compatibility/terraform/instances.tf
  envs/os_compatibility/test_compatibility.py
Labels: Enhancement, Monkey
